* {
    box-sizing: border-box;
}

body {
	margin: 0 auto;
}

.container {
	width: 1000px;
}

#carousel {
	width: 400px;
	height: 400px;
	overflow: hidden;
	margin-left: 25%;
	margin-top: 25%;
}

ul {
	width: 2000px;
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
	float: left;
}

img {
	width: 100%;
}